@use "colours" as *;
@use "themes" as *;
@use "sass:map";

$header__colour:map.get($colours, orange);
$main__colour:map.get($colours, white);
$footer__colour:map.get($colours, blue);
$text__colour:map.get($colours, deepBlack);

.header, .main, .footer{
	font-family: "Montserrat", sans-serif;
}
.header, .footer{
	display:flex;
	align-items: center;
}
.header{
	background:$header__colour;
	justify-content:space-between;
	padding:30px 10%;
	&__home, &__link{
		color:$text__colour;
		text-decoration:none;
	}
	&__list{
		list-style-type:none;
	}
}
.main{
	background:$main__colour;
	/* LIGHT THEME */ 
	@each $text, $colour in $lightTheme{
		&__#{$text} {
			color:$colour;
		}
	}
}
.footer{
	background:$footer__colour;
	color:$main__colour;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	justify-content:center;
}